* {
    margin: 0;
    padding: 0;
}

body {
    background: #5D7B96;
}

header {
    background-image: url(img/header/header-img.svg);
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3% 15% 0 15%;
}

.nav-item {
    color: #000;
    font-family: Coda Caption;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    gap: 40px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #000;
}

.header a {
    text-decoration: none;
    color: #000;
}

.nav-item #registration {
    padding: 10px 15px;
    border-radius: 50px;
    border: 2px solid #000; 
}

.logo img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.headerInner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 80%;
    right: 15%;
    position: absolute;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Coda Caption;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.titleText {
    color: #6F2018;
    font-family: Coda Caption;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.ourProject {
    padding: 50px 40px 100px 40px;
}

.ourProject h1 {
    color: #FFF;
    font-family: Coda Caption;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.ourProject h3 {
    color: #FFF;
    font-family: Coda Caption;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    text-align: end;
}

.applicationImage {
    position:relative; 
    height: 600px;
    width: 500px;
    margin-top: 54px;
    margin-bottom: 16px;
}

.applicationImage img {
    left: 0; 
    position:absolute; 
    top: 0;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#backImage {
    opacity:1;
    filter:alpha(opacity=100);
}

#previewImage:hover {
    opacity:1;
    filter:alpha(opacity=100);
}

#backImage:hover, #previewImage:hover {
    opacity:0;
    filter:alpha(opacity=0);
}

.applicationInner h2 {
    color: #FFF;
    text-align: center;
    font-family: Coda Caption;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    width: 750px;
}

.applicationInner .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.tags .restoration {
    color: #FED989;
    font-family: Coda Caption;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.tags .finish {
    color: #CDFFBD;
    font-family: Coda Caption;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.applicationInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 947px;
    padding: 25px;
    flex-shrink: 0;
    border: 3px solid #C9EBFF;
}

.projectApplications {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 50px;
}

.banner {
    background-image: url(img/baner.svg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 134px;
    background-repeat: no-repeat;
}

.galery {
    width: 100%;
    height: 710px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 100px;
}

.galeryInner {
    display: flex;
    gap: 25px;
    width: 300%; /* ширина слайдера будет в 3 раза больше, чем контейнера */
    animation: slide 30s infinite linear; /* анимация будет повторяться бесконечно в течение 10 секунд */
}

.galery img {
    width: 33.333%; /* каждый слайд будет занимать 1/3 ширины слайдера */
}

@keyframes slide {
    0% {
      transform: translateX(0); /* начальное положение слайдера - не сдвинуто */
    }
    50% {
      transform: translateX(-100%);
       /* конечное положение слайдера - сдвинуто на 100% влево */
    }
    100% {
        transform: translateX(-167%);
    }
  }

#galeryCity {
    color: #FFF;
    font-family: Coda Caption;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer {
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.40);
    padding: 50px 100px 50px 100px;
}

footer h5 {
    color: #000;
    font-family: Coda Caption;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: start;
}

.icons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.icons img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;

.iconImage {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.reportProblem {
    color: #000;
    font-family: Coda Caption;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    display: inline-flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #FED989;
    margin-top: 50px;
    margin-bottom: 15px;
}

.footerInfo {
    color: #000;
    text-align: right;
    font-family: Coda Caption;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

}

.blur {
    filter: blur(5px); /* Измените значение размытия по вашему усмотрению */
}

.header {
    background-image: url(img/header/header-img-blur.svg);
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100vh;
}

.authorization h1 {
    color: #454545;
    font-family: Coda Caption;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.authorization {
    position: absolute;
    top: calc(50% - 230px);
    left: calc(50% - 375px);
    width: 750px;
    height: 460px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 3px solid #FFF;
    background: rgba(255, 255, 255, 0.62);
    gap: 25px;
}

.authorization form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.authorization input {
    border-radius: 50px;
    border: 3px solid #FED989;
    background: rgba(254, 217, 137, 0.20);
    display: flex;
    width: 600px;
    padding: 16px 48px;
    align-items: center;
    gap: 10px;

    color: #454545;
    font-family: Coda Caption;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
    width: 100%;

    color: rgba(0, 0, 0, 0.70);
    font-family: Coda Caption;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.check input {
    border-radius: 2px;
    background: #FED989;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}

.checkInner {
    display: flex;
    gap: 11px;
    align-items: center;
}
  
.check input::before {
    content: url();
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 2px;
    background-color: #ffffff;
  }
  
.check input:checked::before {
    background: #FED989;
    content: url(img/carbon_checkmark.svg);
    color: black;
    display: flex;
    gap: 0;
}

.authorization a {
    color: #454545;
    text-decoration: none;
}

.authorization button {
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #FED989;
    border-color: #FED989;

    color: #454545;
    font-family: Coda Caption;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 428px) {
    header {
        background-image: url(img/header/header-img.svg);
        background-size:cover ;
        background-repeat: no-repeat;
        height: 50vh;
    }

    .nav-item {
        font-size: 8px;
        gap: 7px;
    }
    
    .nav-item #registration {
        padding: 4px 8px;
        border: 0.5px solid #000;
    }
    
    .logo img {
        width: 20px;
    }

    nav {
        gap: 50px;
    }
    
    .headerInner {
        top: 40%;
        right: 15%;
    }
    
    .title {
        font-size: 24px;
    }
    
    .titleText {
        font-size: 8px;
    }
    
    .ourProject {
        padding: 12px 50px 24px 50px;
    }
    
    #ourProject {
        font-size: 10px;
    }

    .ourProject h3 {
        font-size: 6px;
    }
    
    .applicationImage {
        height: 150px;
        width: 180px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .applicationImage img {
        height: 150px;
        width: 180px;
    }
    
    .applicationInner h2 {
        font-size: 9px;
        width: 117px;
    }
    
    .applicationInner .tags {
        gap: 10px;
    }
    
    .tags .restoration {
        font-size: 6px;
    }
    
    .tags .finish {
        font-size: 6px;
    }
    
    .applicationInner {
        width: 165px;
        height: 217px;
    }
    
    .projectApplications {
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }
    
    .banner {
        background-image: url(img/baner.svg);
        background-size: cover;
        width: 100%;
        height: 20vh;
        margin-bottom: 20px;
        background-repeat: no-repeat;
    }

    .galery {
        height: 130px;
    }
    
    #galeryCity {
        font-size: 10px;
    }
    
    footer {
        padding: 12px 17px 12px 17px;
    }
    
    footer h5 {
        font-size: 8px;
    }
    
    .icons {
        gap: 10px;
    }
    
    .iconImage {
        display: flex;
        justify-content: center;
        gap: 25px;
    }
    
    .reportProblem {
        font-size: 6px;
    
        padding: 4px 8px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    
    .footerInfo {
        font-size: 8px;
        width: 233px;
        height: 57px;
        flex-shrink: 0;
    }
    
    .blur {
        filter: blur(5px); /* Измените значение размытия по вашему усмотрению */
    }
    
    .header {
        background-image: url(img/header/header-img-blur.svg);
        background-size:cover ;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    .authorization h1 {
        color: #454545;
        font-family: Coda Caption;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
    
    .authorization {
        position: absolute;
        top: calc(50% - 230px);
        left: calc(50% - 375px);
        width: 750px;
        height: 460px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        border: 3px solid #FFF;
        background: rgba(255, 255, 255, 0.62);
        gap: 25px;
    }
    
    .authorization form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    
    .authorization input {
        border-radius: 50px;
        border: 3px solid #FED989;
        background: rgba(254, 217, 137, 0.20);
        display: flex;
        width: 600px;
        padding: 16px 48px;
        align-items: center;
        gap: 10px;
    
        color: #454545;
        font-family: Coda Caption;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    
    .check {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 75px;
        padding-right: 75px;
        width: 100%;
    
        color: rgba(0, 0, 0, 0.70);
        font-family: Coda Caption;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    
    .check input {
        border-radius: 2px;
        background: #FED989;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
    }
    
    .checkInner {
        display: flex;
        gap: 11px;
        align-items: center;
    }
      
    .check input::before {
        content: url();
        width: 16px;
        height: 16px;
        background-color: white;
        border-radius: 2px;
        background-color: #ffffff;
      }
      
    .check input:checked::before {
        background: #FED989;
        content: url(img/carbon_checkmark.svg);
        color: black;
        display: flex;
        gap: 0;
    }
    
    .authorization a {
        color: #454545;
        text-decoration: none;
    }
    
    .authorization button {
        display: flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background: #FED989;
        border-color: #FED989;
    
        color: #454545;
        font-family: Coda Caption;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
}
